body {
    background-color: cornflowerblue;
}

.welcome-msg {
    background-color: bisque;
}

.green-bg {
    background-color: darkgreen;
}

.mono-font {
    font-family: monospace;
}

/* warning-msg ---reminder to pick class names that describe WHY you are styling */
.red-text { 
    color: red;
}
