<!DOCTYPE html>
<html lang="en">
<head>
    <title>so chill</title>

    <!-- add stylesheet -->
    <link rel="stylesheet" href="static/styles.css">


</head>
<body>
    <p class="welcome-msg">stuyle test</p>
    <h1 class="fancy-text" id="camera-prompt">Please Turn your Cameras on!</h1>
    <h2 class="fancy-text">Attendance prompt: Favorite song to make you happy</h2>
    <label for="username">Enter your name</label>
    <input type="text" id="username" name="username">
    <button id="bisque-button">click to add bisque color</button>

    <!-- jquery cdn -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <!-- todo: how to load the page when document is ready w/o having to put scripts at end of body -->
    <!-- my own js script -->
    <script src="static/action.js"></script>
</body>
</html>